In [3]:
from IPython.display import Image
import seaborn as sns

In [7]:
df = sns.load_dataset('flights') # 在线下载一个数据用于实验，在sns.load_dataset()函数里有很多的数据，想了解更多的可以到GitHub中找到源码，你就会很清楚了
df

     year      month  passengers
0    1949    January         112
1    1949   February         118
2    1949      March         132
3    1949      April         129
4    1949        May         121
5    1949       June         135
6    1949       July         148
7    1949     August         148
8    1949  September         136
9    1949    October         119
10   1949   November         104
11   1949   December         118
12   1950    January         115
13   1950   February         126
14   1950      March         141
15   1950      April         135
16   1950        May         125
17   1950       June         149
18   1950       July         170
19   1950     August         170
20   1950  September         158
21   1950    October         133
22   1950   November         114
23   1950   December         140
24   1951    January         145
25   1951   February         150
26   1951      March         178
27   1951      April         163
28   1951        May         172
29   1951       June         178
..    ...        ...         ...
114  1958       July         491
115  1958     August         505
116  1958  September         404
117  1958    October         359
118  1958   November         310
119  1958   December         337
120  1959    January         360
121  1959   February         342
122  1959      March         406
123  1959      April         396
124  1959        May         420
125  1959       June         472
126  1959       July         548
127  1959     August         559
128  1959  September         463
129  1959    October         407
130  1959   November         362
131  1959   December         405
132  1960    January         417
133  1960   February         391
134  1960      March         419
135  1960      April         461
136  1960        May         472
137  1960       June         535
138  1960       July         622
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

[144 rows x 3 columns]

In [8]:
df = df.pivot(index='month',columns='year',values='passengers') # 生成一个透视表，得到一个以年、月为轴的二维数据表
df

year,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960
month,,,,,,,,,,,,
January,112,115,145,171,196,204,242,284,315,340,360,417
February,118,126,150,180,196,188,233,277,301,318,342,391
March,132,141,178,193,236,235,267,317,356,362,406,419
April,129,135,163,181,235,227,269,313,348,348,396,461
May,121,125,172,183,229,234,270,318,355,363,420,472
June,135,149,178,218,243,264,315,374,422,435,472,535
July,148,170,199,230,264,302,364,413,465,491,548,622
August,148,170,199,242,272,293,347,405,467,505,559,606
September,136,158,184,209,237,259,312,355,404,404,463,508
October,119,133,162,191,211,229,274,306,347,359,407,461
November,104,114,146,172,180,203,237,271,305,310,362,390
December,118,140,166,194,201,229,278,306,336,337,405,432